.send-otp-email {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.space {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn {
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  color: #230052;
  text-decoration: underline;
  cursor: pointer;
  padding: 0px !important;
}

.btn:hover {
  background: none !important;
  border: none !important;
  background-color: transparent !important;
}

.otpContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.otpInput {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otpInput:focus {
  outline: 2px solid #230052;
}

@media screen and (max-width: 333px) {
  .otpContainer {
    gap: 5px;
  }
}
