nav {
  /* position: relative; */
  background-color: #230052;
  padding: 0px 50px;
  height: 80px;
}

nav div {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 50px !important;
  margin-top: 15px;
}

.nav-burger-menu {
  display: none;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.nav-burger-menu:hover {
  color: yellow;
}

.close {
  /* display: absolute;
  right: 0; */
  float: right;
  cursor: pointer;
  color: white;
}

.close:hover {
  color: yellow;
}

@media screen and (max-width: 800px) {
  /* Styles to apply when the screen width is 768px or less */
  .nav-burger-menu {
    display: block;
  }
}
