footer {
  background-color: #230052;
  height: 50px;
  margin-top: auto;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 410px) {
  /* Styles to apply when the screen width is 768px or less */
  footer {
    height: 70px;
  }
}