.register {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.link {
  float: right;
  margin-top: 30px;
}

.link a {
  color: #230052;
}
